#errorField {
    font-size: 18px;
    padding: 0px 15px 5px 15px;
    color: red;
    font-weight: 700;
    white-space: normal;
    transition: all 0.5s;
    min-height: 54px;
}

#errorField.show {
    transform: translate(0, 0);
    opacity: 1;
}

#errorField.hide {
    transform: translate(0, -100px);
    opacity: 0;
}

.buttonLoader {
    margin: 0 auto;
    width: 30px;
    height: 30px;
    border: 2px solid rgba(2, 30, 46, 0.7);
    border-left-color: #FBBC04;
    border-radius: 50%;
    animation: loader 1s linear infinite;
}

@keyframes loader {
    100% {
        transform: rotate(360deg);
    }
}