#forTextComm {
    white-space: normal;
    word-break: break-all;
}

.replyBlock {
    margin-left: 40px;
}



#forDate {
    max-width: fit-content;
    min-width: 95px;
}

.replyButton {
    max-width: fit-content;
    max-height: 44px;
    margin-left: 40px;
    border: 0;
    background-color: #FFF;
}
