::-webkit-scrollbar {
  width: 0;
}

.container {
  margin-bottom: 50px;
}

.yellow {
  background-color: #FBBC04;
}

body.white {
  background-color: #FFF;
}

h3 {
  font-family: Lobster;
  font-size: 48px;
  line-height: 60px;
  color: #000000;
}

p, label {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0rem;
}

a {
  color: black;
}

li {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

.registerText {
  font-size: 24px;
  line-height: 28px;
}

.mainWrap {
  height: 100vh;
  display: flex;
  align-items: center;
}

.columnWrap {
  margin-top: 70px;
}

.substrate {
  width: 90%;
  max-width: 500px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
  border-radius: 4px;
}

.registerButton, #avatarButton {
  background-color: #FBBC04;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
  width: 45%;
  max-height: 50px;
  border-radius: 5px;
  border: 0px;
}

.buttonText {
  font-size: 20px;
  text-decoration: none;
  width: 100%;
}

.altText {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.33px;
} 
